@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-5">Seja bem vindo!</h5>
    <h1 class="display-4">Projeto Final Formação Tech Itaú</h1>
    <br>
    <a href="https://github.com/Suzyguebata/api-spring-boot-itautech">Gerenciamento de clientes e contas bancárias da instituição para consulta, utilizando API Spring Boot e .Net</a>
</div>
