@{
    ViewData["Title"] = "Sobre";
}
<h3 class="display-5">@ViewData["Title"]</h3>

<section class="sobre_conteudoFoto">
    <div class="grid_item column-flex game-card next-release-card container-alunos">
            <a href="https://www.linkedin.com/in/baronnycastro/" target="_blank" class="content" >
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGsijGZY7CBpw/profile-displayphoto-shrink_800_800/0/1629810054219?e=1638403200&v=beta&t=5vvZvqvw1XYP_SAtul4gWtC1vlD4HbDNpj1kEZkFdHk" class="sobre_img" alt="" srcset="">
            <div class="linkedin">
                <h2>LinkedIn</h2>
            </div>
            </a>
            <div class="description">
                <h5>Baronny Castro</h5>
            </div>
    </div>
    <div class="grid_item column-flex game-card next-release-card">
            <a href="https://www.linkedin.com/in/caiquearaujo/" target="_blank" class="content" >
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHqtJfFuuebIQ/profile-displayphoto-shrink_400_400/0/1629582658272?e=1638403200&v=beta&t=7LicyuNG-mfZZ8njGyfR5D0XSsCUcmi_OuT8cc7oNKI" class="sobre_img" alt="" srcset="">
            <div class="linkedin">
                <h2>LinkedIn</h2>
            </div>
            </a>
            <div class="description">
                <h5>Caique Lima</h5>
            </div>
    </div>
    <div class="grid_item column-flex game-card next-release-card">
            <a href="https://www.linkedin.com/in/lsantanar/" target="_blank" class="content" >
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQG5JGRrkj5MtA/profile-displayphoto-shrink_400_400/0/1631277894681?e=1638403200&v=beta&t=QeB0tccA8jFb_oyvGPFodaav_he5OFrNzBz97-3Pzpo" class="sobre_img" alt="" srcset="">
            <div class="linkedin">
                <h2>LinkedIn</h2>
            </div>
            </a>
            <div class="description">
                <h5>Lucas Santana</h5>
            </div>
    </div>
    <div class="grid_item column-flex game-card next-release-card">
            <a href="https://www.linkedin.com/in/suzana-alves-pcd-%F0%9F%8F%B3%EF%B8%8F%E2%80%8D%F0%9F%8C%88-6b7a9b3b/" target="_blank" class="content" >
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFFuAOlQyCMRg/profile-displayphoto-shrink_400_400/0/1623973241852?e=1638403200&v=beta&t=v6W_259-3aNUDKwQEmLYPp92-vhr_7wTZznJ6jrN__g" class="sobre_img" alt="" srcset="">
            <div class="linkedin">
                <h2>LinkedIn</h2>
            </div>
            </a>
            <div class="description">
                <h5>Suzana ALves</h5>
            </div>
    </div>
    <div class="grid_item column-flex game-card next-release-card">
            <a href="https://www.linkedin.com/in/vanessa-gomes-de-oliveira-88473566/" target="_blank" class="content" >
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGsF8FUjGY8oQ/profile-displayphoto-shrink_400_400/0/1616944875689?e=1638403200&v=beta&t=4OmYHMl67wC6WOZyEih1CaBMrGSKrHk2nziOCiqVPbU" class="sobre_img" alt="" srcset="">
            <div class="linkedin">
                <h2>LinkedIn</h2>
            </div>
            </a>
            <div class="description">
                <h5>Vanessa Gomes</h5>
            </div>
    </div>
</div>
<div class="conteudo-sobre">
<h5>Back-End (Suzana Alves, Baronny Castro e Lucas Santana)</h5>
<p>Responsaveis pela criação das Controllers no Spring Boot, operação de consulta.</p>
<h5>Back-End / Banco de Dados (Caique Lima)</h5>
<p>Responsavel pela inserção de dados nas tabelas.</p>
<h5>Front-End (Vanessa Gomes e Suzana Alves)</h5>
<p>Responsaveis pela criação do front-end, pela plataforma .Net.</p>

<h5>Tecnologias usadas:</h5><p>No Back-End, foi utilizada a linguagem java com a plataforma Spring Boot e no Front-End, utilizamos a linguagem C# com a plataforma .Net.</p>
</div>
<style>
    p {
        padding-left: 20px;
    }

    h3 {
        padding-left: 20px;
    }
</style>

