@{
    ViewData["Title"] = "Sobre";
}
<h3 class="display-5">@ViewData["Title"]</h3>

<h5>Baronny Castro</h5>
<p>Responsavel pela criação das Controllers no Spring Boot, operação de consulta.</p>
<h5>Caique Lima</h5>
<p>Responsavel pela inserção de dados nas tabelas.</p>
<h5>Lucas Santana</h5>
<p>Responsavel pela criação das Controllers no Spring Boot, operação de consulta.</p>
<h5>Suzana Alves</h5>
<p>Responsavel pela organização do time e criação das Models no Spring Boot.</p>
<h5>Vanessa Gomes</h5>
<p>Responsavel pela criação do front-end, pela plataforma .Net. juntamente com a Suzana.</p>

<h5>Tecnologias usadas:</h5><p>No Back-End, foi utilizada a linguagem java com a plataforma Spring Boot e no Front-End, utilizamos a linguagem C# com a plataforma .Net.</p>

<style>
    p {
        padding-left: 20px;
    }

    h3 {
        padding-left: 20px;
    }
</style>

<img src="../Shared/WEBG_PNG.png" alt="" srcset="">
